<div class="row">
  <div class="col-md-1"> <!--THIS IS MAKING THE TABLE CENTERED-->

  </div>
  <div class="col-md-10"> <!--THIS IS MAKING IT CENTERED-->
    <table> 
      <tr *ngFor="let menuItem of menuItems" [class.featured]="menuItem.featured"> 
        <!--TR MEANS TABLE ROW-->
        <!--THIS IS THE GHETTO WAY-->
        <td><img src="{{menuItem.image}}" alt="Item"></td>
        <!--this is the PROPER BINDING WAY 
        <td><img [src]="menuItem.image" alt="Item"></td>-->
        <td>
          <h2>{{menuItem.name | uppercase}}</h2>
         <!--THIS WILL BE USED AS A FOR EACH LOOP AND TD MEANS TABLE DATA-->
        <p>{{menuItem.description}}</p>
        <p *ngIf = "menuItem.amount > 0"> YOU'LL LOVE THE {{menuItem.name}}!!!!</p>
        <p *ngIf ="menuItem.amount === 0"> NO {{menuItem.name}} TODAY???????!!! ARE YOU SERIOUS?</p></td>
        <td>
      <td><p id=price> {{menuItem.price | currency: 'EUR'}}</p></td>
      <td>
        <button class="btn btn-primary"  (click)="increasedAmount(menuItem)">+</button>
        <input type="number" disabled [(ngModel)]="menuItem.amount"> <!--disabled will make the text box inactive. Doesn't let you type inside-->
        <button class="btn btn-primary" (click)="decreasedAmount(menuItem)">-</button>
      </td>
      </tr>
    </table> 
  </div>
</div>

  
<p>Note : You currently have {{cart}} items in your cart</p>
<p>Your total is : {{total | currency: 'EUR'}}</p>
<footer><a href="https://www.bk.com/">For digital menus contact us today</a></footer>